.alert {
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 15px;
}
.alert-success {
    background: #d1e7dc;
    color: #0f5132;
}
.alert-danger {
    background: #f8d6da;
    color: #842029;
}
dt {
    font-weight: bold;
    color: #354;
    font-size: .9rem;
    margin-bottom: 5px;
}
dd {
    margin-bottom: 10px;
}
table {
    border-collapse: collapse;
}
th, td {
    padding: 8px 10px;
    border: 1px solid #ddd;
}
th {
    background: #eee;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background: #444;
    color: #fff;
    padding: 10px 0;
}
footer {
    margin-top: auto;
    padding: 10px 0;
    background: #444;
    color: #eee;
}
  
/* 以下タブの装飾 */
ul.tab-menu{
    display: flex;
    margin: 0 0 15px 0;
    padding: 0;
    list-style: none;
}
.tab-menu li{
    margin-right:8px;
    padding: 10px 20px;
    border-bottom: 4px solid #ccc;
    border-radius: 8px 8px 0 0;
    cursor: pointer;
}
.tab-menu li.active{
    background-color: #e4efad;
    border-color:#60a5fa;
}

.tab-content{
    border: 1px solid #999;
    border-radius: 6px;
    padding: 10px;
}

.timer {
    font-weight: bold;
    font-size: 1.6em;
    color: #222;
  }

