<div class="login-page">
    <div class="form">

        <%= form_with(url: signin_path, scope: :session, class: "login-form") do |f| %>
            <%= f.email_field :email, placeholder: "メールアドレス" %>
            <%= f.password_field :password, placeholder: "パスワード" %>
            <button>login</button>
            <p class="message">Not registered? <%= link_to "Create an account", signup_path %></p>
        <% end %>
    </div>
</div>


