
<div id="app">
    <ul class="tab-menu">
        <li
            v-for="tab in tabs" :key="tab.name"
            @click="activeTab = tab.name"
            :class="{active: activeTab === tab.name}"
        >{{ tab.text }}</li>
    </ul>
    <div class="tab-content">
        <div v-if="activeTab === 'tabs-1'">
            <p><%= render "commons/tasks_today" %></p>
        </div>
        <div v-if="activeTab === 'tabs-2'">
            <p><%= render "commons/tasks_future" %></p>
        </div>
        <div v-if="activeTab === 'tabs-3'">
            <p><%= render "commons/tasks_past" %></p>
        </div>
    </div>
</div>
<br>

<%
if session[:tab]
    if session[:tab] == 1
        tab = 'tabs-1'
    elsif session[:tab] == 2
        tab = 'tabs-2'
    elsif session[:tab] == 3
        tab = 'tabs-3'
    end
else
    tab = 'tabs-1'
end
%>

<script>
app = Vue.createApp({
  data(){
      return {
          activeTab: '<%= tab %>',
          tabs: [
              {name:'tabs-1', text: '本日のタスク'},
              {name:'tabs-2', text: '明日以降のタスク'},
              {name:'tabs-3', text: '過去のタスク'},
          ],
      }
  },
})
vm = app.mount("#app")
</script>
<%# button_to '完了タスク削除', {controller: :tasks, action: :done_destroy}, {method: :delete, style: "float: right;", class: "btn btn-warning"}%>



<script>
var animateButton = function(e) {

  e.preventDefault;
  //reset animation
  e.target.classList.remove('animate');
  
  e.target.classList.add('animate');
  setTimeout(function(){
    e.target.classList.remove('animate');
  },700);
};

var bubblyButtons = document.getElementsByClassName("bubbly-button");
</script>