<h1><%# @task.task_name %></h1>

<div class="timer" id="timer"></div>

<div>

</div>
<form name="timer">
    <input type="text" value="">分
    <input type="text" value="">秒<br>
    <input type="button" value="スタート" onclick="cntStart()">
    <input type="button" value="ストップ" onclick="cntStop()">
</form>

<div id="countdownArea" class="countdown">
    <span id="countdown-day"></span>日
    <span id="countdown-hour"></span>時間
    <span id="countdown-min"></span>分
    <span id="countdown-sec"></span>秒
</div>