<br><br><br><br><br><br><br>
<div style="display:flex; justify-content:space-around;">

<div>
  <div class="fadeIn">
  <br>
  <h1><b>タスクにかかる時間を見積もって、</b></h1>
  <h1><b>"できる" ビジネスマンへ。</b></h1>
  <h4>mitumoriはタスクを終えるまでにかかった時間を計測し、</h4>
  <h4>あなたに合わせたタスク量を提案します。</h4><br><br><br>
  </div>


  <div style="display:flex; justify-content:space-around;">

    <div>
      <a href="/signin" class="btn btn-3d-flip">
      <span class="btn-3d-flip-box">
      <span class="btn-3d-flip-box-face btn-3d-flip-box-face--front">ログイン<i class="fas fa-angle-right fa-position-right"></i></span>
      <span class="btn-3d-flip-box-face btn-3d-flip-box-face--back">ログイン<i class="fas fa-angle-right fa-position-right"></i></span>
      </span>
      </a>
    </div>

    <div>
      <a href="/signup" class="btn btn-3d-flip btn-3d-flip2">
      <span class="btn-3d-flip-box2">
      <span class="btn-3d-flip-box-face btn-3d-flip-box-face--front2">会員登録<i class="fas fa-angle-right fa-position-right"></i></span>
      <span class="btn-3d-flip-box-face  btn-3d-flip-box-face--back2">会員登録<i class="fas fa-angle-right fa-position-right"></i></span>
      </span>
      </a>
    </div>

  </div>

</div>
<div>
  <img src="/assets/Digital.png" width="400" height="400">
</div>
</div>


<div class="scrollBox">
  <ul class="linkBox">
    <li>
      <div style="text-align:center">
        <a href="#box1"><h3 style="color:green; border-bottom: solid 1px green;">⬇︎ mitusumoriの使い方はこちら ⬇︎</h3></a>
      </div>
    </li>

      <br><br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>


  <div class="box" id="box1">
    <br><br><br>
    <div style="text-align:center">
    <h1 style="color:grey"><b>mitsumoriの使い方は、以下の4ステップ</b></h1><br><br><br>
    <h2>【ステップ1】 タスクにかかる時間を見積もる</h2>
    <img src="/assets/step1.png" width="750" border="5px" class="basic4"><br><br><br><br><br>


    <h2>【ステップ2】 タスクを実行する</h2>
    <img src="/assets/step2.png" width="750" border="5" class="basic4"><br><br><br><br><br>

    <h2>【ステップ3】 見積もり時間と実際にかかった時間の差分を算出する</h2>
    <img src="/assets/step3.png" width="750" border="5" class="basic4"><br><br><br><br><br>

    <h2>【ステップ4】 タスク見積もりのフィードバックを行う</h2>
    <img src="/assets/step4.png" width="750" border="5" class="basic4"><br><br><br><br><br>
    </div>

  </div>
</div>


<style>
// ログイン画面
$('.message a').click(function(){
  $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
</style>
